<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Grandstander:wght@500&family=Indie+Flower&family=Overpass:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <h1> Welcome to Digital Gallery!🤩 </h1>
    <ul>
    <li><a href="/about">About the Gallery</a></li>
    <li><a href="/works">See the Works</a></li>
    <li><a href="/photo-gallery">See the Photos</a></li>
    </ul>
</body>
</html>